/*General style starts */

*{
  font-family: 'Poppins', sans-serif;
}
p{
  line-height: 2rem;
  color: #202124;
}
.root{
  font-size: 62.4%; 
}

p{
  font-weight: 500;
}
li {
  list-style-type: none;
}
/* General Style ends Here*/

/* The sidebar menu */

.user-image{
  border-radius: 50%;
  height: 10%;
  margin-right:5%;
}


.user-info{
 display: flex;
 align-items: center;
 margin-top: 15%;
 
}

.username{
  font-weight: 100;
/* margin-left: -50px;
 align-items: center;*/
}
/*
.user-image{
  margin-left: -20px;
}

/*.icon{
  position: relative;
  left: 45px;
  font-size: 25px;
  top: 80px;
  bottom: 29px;
  
}*/
.icon{
  font-size: 3em;
  margin-right: 10%;
}
 
/*.text{
  margin-left: 15px;
  margin-top: 5px;
}*/
.text{
  margin-top: 10%;
}
.text.last{
  margin-left: 8%;
}
.text.help{
  margin-top: 15%;
}
.icons{
  color:black;
  display: flex;
  margin-top: 12%;
}

.icons:hover{
  color:#4285F4;
}


/* The navigation menu links */
.sidenav a {

  text-decoration: none;
  font-size: 25px;
  color: black;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:active {
  color: #4285F4;
}

.side-img {
  width: 60%;
  margin-top: 10%;
}
/**DashBoard style starts here**/
#dash-board{
  display: block;
}
.dashboard-main{
  margin-top: 0;
  display:flex;
  justify-content: space-between;
  width: 100%;
  
}
.dashboard-main aside{
  height: 200vh; 
  background: #f5f5f5;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25); 
  width: 35%;
  padding-left: 5%;
  position:sticky; 
  
 
}

.dashboard-main .fixed{
position: sticky;
top: 0;
}
.dashboard-main section{
  margin-left: 2%; 
}

.dashboard-main header{
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  height: 10%;
}

.search{
  height: 4%;
  margin-top: 1.5%;
  margin-right: 4%;
  background-color: #f5f5f5;
  border-radius: 50%;
  padding:1% 1% 2% 1%;
  font-size: 1.2rem;
  font-weight: 50;
}

/**DashBoard Style ends Here**/


/*******LOGIN PAGE*************************/

.login{
  background-color: #34a853;
}
/****************************************/
/* Get started Page style starts here*/
.container{
  margin-block: -1%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: linear-gradient(to top right,#ffffff,#b5cabb,#ffffff,#f0f0e0,#f0ebd8),
  linear-gradient(to left,#ffffff,#ffffff);
  height: 170vh;
}
.container-image img{
  width: 115%;
  margin-top: 20%;
}
.container-text{
  block-size: 100vh;
  margin-top: 10%;
  text-align: center;
}

.container-text img{
  width: 32%;
}
.container-paragraph{
text-align: center;
margin-bottom: 4%;
font-size: 1.4rem;
font-weight: 400;
}

.works{
  display: flex;
  flex-direction: row;
  margin-top: 15%;
  margin-left: 20%;
  gap: 3rem;
  color: #34a853;
  
}
.works p{
  font-size: 1.6rem;
}

.works:hover{
  cursor: pointer;
}
.getstarted-with-google {
  margin-top: 10%;
  background-color: #ffffff;
  border: 0.2vh solid #34a853;
  border-radius: 1vh;
 margin-left: 18%;
 width: 72%;
 padding: 2% 1%;

}
.works .icon {
  margin-top:3.5% ;
  margin-left:-5%;
  font-size: 250%;
}

.getstarted-with-google span{
  font-size: 2rem;
  font-weight: 700;
  
}
.getstarted-with-google a{
  color: #34a853;
  font-size: 1.8rem;
 margin-left: -5%;
 font-weight: 500;

}

.g-in-google{
  color:#4285f4;
}
.o-in-google,.e-in-google{
  color:#ea4335;
}
.onext-in-google{
  color: #fbbc04;
}


/* Get started page style ends here*/